body {
  background-color: #282828;
  background-image: url('background.jpg');
  background-position: center;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  display: table-cell;
}

html {
    display: table;
    margin: auto;
    height: 100%;
}

h3 {
  color: #edfeff;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  color: #edfeff;
  font-size: 50;
}

h2 {
  text-align: center;
  font-size: 13;
  color: #edfeff;
  font-family: 'Roboto Mono', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

list {
  text-align: center;
  text-decoration: none;
}

.all {
  display: inline-block;
  /* vertical-align: top; */
  align-self: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.saying {
  font-weight: bold;
  background-color: #3b3b3b;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 10em;
}

.all:nth-child(1) {
  margin-left: 0;
}

.title {
  text-align: center;
  width: 12em;
}

.favorites {
  background-color: #3b3b3b;
}

.reddit {
  background-color: #3b3b3b;
}

.programming {
  background-color: #3b3b3b;
}

.design {
  background-color: #3b3b3b;
}

.entertainment {
  background-color: #3b3b3b;
}

.linux {
  background-color: #3b3b3b;
}

.links {
  text-align: center;
  color: #282828;
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
  font-weight: bold;
  /*background-color: #ebdbb2;*/
  background-color: #edfeff;
  width: 12em;
}
